.App {
  font-family: sans-serif;
  text-align: center;
}

.App .h1 {
  border-bottom: 2px solid black;
  padding: 1%;
  margin: 2%;
  box-shadow: 3px 3px 19px;
  background:#FF97C1;
  color:#9A1663;
}

input {
  margin-top: 10vh;
  border: none;
   padding: 15px;
  box-shadow: 3px 2px 3px;
}

button {
   padding: 15px;
  transition: all 0.51s;
}
button:hover {
  transform: scale(1.3);
  background: brown;
  color: antiquewhite;
}
